.row {
    display: flex;
}

.column {
    width: 20px;
    height: 20px;
    text-align: center;
}

.board {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
    border: 2px solid #8a8a8a;
    padding: 30px;
    align-items: center;
    width: fit-content;
    margin: auto;
    background-color: #afafaf
}

.targeted {
    border-radius: 5px;
    border: 1px solid rgb(253, 154, 154);
}

.player {
    font-size: 20px
}

.card {
    display: flex;
    flex-direction: column;
    gap: 5px;
    border: 1px solid #ccc;
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;
    width: 200px;
    margin: auto;
    margin-top: 10px;
    background-color:#4b4b4b;
    color: white;
}

.title {
    font-weight: bold;
    text-align: center;
    background-color: #ccc;
    color: black;
    border-radius: 10px;
}

.card p {
    margin: 5px
}

.enemy-health {
    position: absolute; 
    font-size: 14px; 
    color: red;
    background-color: white;
    border: 1px solid red;
    border-radius: 10px;
    padding: 2px;
}

.upgrades {
    max-height: 300px;
    overflow-y: auto;
}

.upgrade {
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
}

.upgrade-name {
    font-weight: bolder;
}

.upgrade-description {
    font-size: 0.8em;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}